credentials*
!credentials-sample.js

.vscode/
vscode/
vscode
.DS_Store
.env
*.tar.gz
*.log.*
*.log
node_modules
npm-debug.log
db.json
dump
conf/secret.json
github.pub
github
data/*
*_test
simulations/*
*.pyc
*.swp
temp.html
logs
.sync
dist/*
*.iml
.env
database/*
package-lock.json
